@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto.woff2') format('woff2'),
         url('./fonts/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
}

.main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: #033046;
    gap: 1rem;
}

.logo {
    max-width: 60px;
}

.logo > img {
    width: 100%;
    position: relative;
    top: 3px;
}

.branding {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner {
    font-size: 2rem;
    font-weight: bold;
    color: antiquewhite;
}

@media only screen and (max-width: 900px) {
    .banner {
        display: none;
    }
} 

.search {
    text-align: center;
}

input {
    outline: none;
    border-radius: 10px;
    font-size: 1.4rem;
    padding: .2rem .5rem;
    background-color: aliceblue;
    max-width: 250px;
    border: none;
    display: block;
    margin-bottom: .2rem;
}

.unit-btn {
    font-size: 1.3rem;
    margin: 0 .2rem;
    border-radius: 10px;
    padding: .2rem .5rem;
    font-weight: bold;
    background-color: aliceblue;
    cursor: pointer;
}

.search > button:hover {
    background-color: antiquewhite;
}

.selected {
    background-color: antiquewhite;
}

nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

nav > button {
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    background-color: inherit;
    color: aliceblue;
    cursor: pointer;
}

nav > button:hover {
    text-decoration: underline;
}

.degree-holder {
    position: relative;
}

.degree {
    font-size: 1.5em;
    font-weight: normal;
    position: absolute;
    top: -.12em;
}

.content {
    text-align: center;
    background-color: aliceblue;
}

h1 {
    margin: 2rem 0;
}

.single-page {
    display: grid;
    width: fit-content;
    grid-template-columns: max-content max-content;
    grid-auto-rows: min-content;
    margin: 0 auto;
}

.summary {
    background-color: #033046;
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    gap: 3rem;
    padding: 1rem 2rem;
}

.temp-div {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

.temp-div :nth-child(2) {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: normal;
}

.temp-div :nth-child(3) {
    font-size: 2.5rem;
}

.summary-icon {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin-top: .5rem;
}

.summary-icon-img {
    max-width: 120px;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
}